<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <!-- <div style="font-size: 25px; color: black; padding-left: 10px;">
            Admin
          </div>
          <a 
            routerLink="admin/notification"
            class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>การแจ้งเตือน รหัสผ่าน</span>
          </a>
          <a
            routerLink="admin/addEmployee"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>เพิ่มผู้ใช้งาน</span>
          </a>
          <a 
            routerLink="admin/manageEmployee"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>จัดการข้อมูลผู้ใช้งาน</span>
          </a>
  
          <div style="font-size: 20px; color: black; padding-left: 10px; margin-top: 10px;">
            จัดการข้อมูลในระบบ
          </div>
          <a 
            routerLink="admin/position"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>ตำแหน่ง</span>
          </a>
          <a 
            routerLink="admin/department"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>แผนก</span>
          </a>
          <a 
            routerLink="admin/team"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>ทีม</span>
          </a>
          <a 
            routerLink="admin/status"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>สถานะ</span>
          </a>
          <a 
            routerLink="admin/profile"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>โปรไฟล์</span>
          </a> -->
          
          <div style="font-size: 25px; color: black; padding-left: 10px; margin-top: 15px;">
            Emplyee
          </div>
  
          <a 
            routerLink="changePassword"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>แก้ไขรหัสผ่าน</span>
          </a>
          <a 
            routerLink="employeeProfile"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>ข้อมูลผู้ใช้งาน</span>
          </a>
          <a 
            routerLink="editEmployee"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>แก้ไขข้อมูลผู้ใช้งาน</span>
          </a>
        </div>
      </div>
      <div style="bottom: 2px;">
        <button id="logoutButton" class="btn position-absolute" (click)="logout()">
          ออกจากระบบ
        </button>
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <div>
          <a class="navbar-brand" href="#">
            <img
              src="assets/images/AMD-LOGO.png"
              height="50"
              alt="MDB Logo"
              loading="lazy"
            />
          </a>
        </div>
        <div>
          <h1>Active-Directory-Management</h1>
        </div>
        <!-- <div style="font-size: 25px;" class="navbar-nav ms-auto d-flex flex-row">
          {{this.empName}} : {{this.empCode}}
        </div> -->

        <div style="font-size: 25px;" class="navbar-nav ms-auto d-flex flex-row">
          <ng-container *ngIf="empName && empCode; else loading">
            {{ empName }} : {{ empCode }}
          </ng-container>
          <ng-template #loading>
            Loading...
          </ng-template>
        </div> 
      </div>
    </nav>
  </header>


  <main style="margin-top: 58px;">
    <div class="p-4">
      <router-outlet></router-outlet>
    </div>
  </main>

  
  