.title-save-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex: 1;
}

.save-but {
    margin-left: 10px;
}

.save-but button {
    font-size: 20px;
}

.save-but mat-icon {
    font-size: 27px;
    margin-right: 7px;
    margin-top: 3px;
}




table {
    width: 100%;
  }
  
  td, th {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
  }
  
  th{
    font-weight:bold;
  }
  
  .table-createdate{
    width:9%;
    text-align: center;
    justify-content:center;
  }

  .table-empcode{
    width:14%;
    text-align: center;
    justify-content:center;
  }
  
  .table-name{
    width:13%;
  }
  
  .table-lastname{
    width:13%;
  }

  .table-position{
    width:15%;
  }

  .table-department{
    width:15%;
  }
  
  .table-action{
    width:7%;
    text-align: center;
    justify-content:center;
  }