<div class="title-save-container pt-2">
    <div class="title">
        <h1>แก้ไขข้อมูลผู้ใช้งาน</h1>
    </div>
    <div class="save-but">
        <button type="button" class="btn btn-primary" (click)="save()">
            <mat-icon>save</mat-icon> <span>บันทึก</span>
        </button>
    </div>
</div>

<hr class="title-line">

<div class="card">
    <div class="card-body p-4">
        <form [formGroup]="formEmployee">
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">รหัสพนักงาน</div>
                    <input class="form-control" type="text" placeholder="รหัสพนักงาน" formControlName="employeeCode">
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">ตำแหน่งงาน</div>
                    <select class="form-select" formControlName="positionCode">
                        <option value=null disabled selected hidden>กรุณาเลือก ตำแหน่งงาน</option>
                        <option *ngFor="let element of positions" value="{{element.positionCode}}">{{element.positionNameEN}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">แผนก</div>
                    <select class="form-select" formControlName="departmentCode">
                        <option value=null disabled selected hidden>กรุณาเลือก แผนก</option>
                        <option *ngFor="let element of departments" value="{{element.departmentCode}}">{{element.departmentNameEN}}</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">ทีม</div>
                    <select class="form-select" formControlName="teamCode">
                        <option value=null disabled selected hidden>กรุณาเลือก ทีม</option>
                        <option *ngFor="let element of teams" value="{{element.teamCode}}">{{element.teamNameEN}}</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 col-md-12 col-sm-12">
                    <div class="sub-title">ชื่อผู้ใช้</div>
                    <input class="form-control" type="text" placeholder="ชื่อผู้ใช้" formControlName="userName" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">ชื่อ</div>
                    <input class="form-control" type="text" placeholder="ชื่อ" formControlName="name">
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">สกุล</div>
                    <input class="form-control" type="text" placeholder="สกุล" formControlName="lastName">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">อีเมล์</div>
                    <input class="form-control" type="email" placeholder="อีเมล์" formControlName="email">
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">เบอร์โทร</div>
                    <input class="form-control" type="text" placeholder="เบอร์โทร" formControlName="mobilePhoneNo">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">รหัสผ่าน</div>
                    <input class="form-control" type="password" placeholder="รหัสผ่าน" formControlName="password">
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">ยืนยันรหัสผ่าน</div>
                    <input class="form-control" type="password" placeholder="ยืนยันรหัสผ่าน" formControlName="passwordConfirm">
                </div>
            </div>
        </form>
    </div>
</div>