<div class="title-save-container pt-2">
    <div class="title">
        <h1>แก้ไขรหัสผ่าน</h1>
    </div>
    <div class="save-but">
        <button type="button" class="btn btn-primary" (click)="save()">
            <mat-icon>save</mat-icon> <span>บันทึก</span>
        </button>
    </div>
</div>

<hr class="title-line">

<div class="card">
    <div class="card-body p-4">
        <form [formGroup]="formPassword">
            <div class="row mb-3">
                <div class="col-12 col-md-12 col-sm-12">
                    <div class="sub-title">ชื่อผู้ใช้</div>
                    <input class="form-control" type="text" placeholder="ชื่อผู้ใช้" value={{this.userName}} disabled>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">ยืนยันรหัสผ่าน</div>
                    <input class="form-control" type="password" placeholder="ยืนยันรหัสผ่าน" formControlName="password">
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="sub-title">รหัสผ่าน</div>
                    <input class="form-control" type="password" placeholder="รหัสผ่าน" formControlName="passwordConfirm">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body p-4">
        <div class="title mb-3">ประวัติการร้องขอ</div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="createDate">
                <th class="table-createdate" mat-header-cell *matHeaderCellDef> วันที่สร้างเอกสาร </th>
                <td class="table-createdate" mat-cell *matCellDef="let element"> {{element.createDate | date:'dd/MM/yy'}} </td>
              </ng-container>

              <ng-container matColumnDef="empcode">
                <th class="table-empcode" mat-header-cell *matHeaderCellDef> รหัสพนักงาน </th>
                <td class="table-empcode" mat-cell *matCellDef="let element"> {{element.empCode}} </td>
              </ng-container>
          
              <ng-container matColumnDef="name">
                <th class="table-name" mat-header-cell *matHeaderCellDef> ชื่อ </th>
                <td class="table-name" mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              <ng-container matColumnDef="lastname">
                <th class="table-lastname" mat-header-cell *matHeaderCellDef> สกุล </th>
                <td class="table-lastname" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
              </ng-container>

              <ng-container matColumnDef="approveDate">
                <th class="table-approveDate" mat-header-cell *matHeaderCellDef> วันที่อนุมัติ </th>
                <td class="table-approveDate" mat-cell *matCellDef="let element"> {{element.approveDate | date:'MM/dd/yy'}} </td>
              </ng-container>

              <ng-container matColumnDef="approveBy">
                <th class="table-approveBy" mat-header-cell *matHeaderCellDef> อนุมัติโดย </th>
                <td class="table-approveBy" mat-cell *matCellDef="let element"> {{element.approveEmpCode}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th class="table-action" mat-header-cell *matHeaderCellDef> สถานะ </th>
                <td class="table-action" mat-cell *matCellDef="let element">
                  <div *ngIf="element.statusCode == 'NEW'" class="btn bg-green">
                    ใหม่
                  </div>
                  <div *ngIf="element.statusCode  == 'COMPLETE'" class="btn bg-dark-blue">
                    เสร็จสิ้น
                  </div>
                  <div *ngIf="element.statusCode  == 'CANCEL'" class="btn bg-red">
                    ยกเลิก
                  </div>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons
                            aria-label="Select page of periodic elements">
            </mat-paginator>

          </div>
    </div>
</div>