.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  
  td, th {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
  }
  
  th{
    font-weight:bold;
  }
  
  .table-id{
    width:14%;
    text-align: center;
    justify-content:center;
  }
  
  .table-name{
    width:14%;
  }
  
  .table-lastname{
    width:14%;
  }
  
  .table-position{
    width:14%;
  }
  
  .table-department{
    width:14%;
  }
  
  .table-profile{
    width:12%;
  }
  
  .table-action{
    width:9%;
    text-align: center;
    justify-content:center;
  }