<div class="pt-2">
  <h1>การแจ้งเตือนขอเปลี่ยนรหัสผ่าน</h1>
</div>

<hr class="title-line">

<div class="card">
    <div class="card-body p-4">
        <div class="title">ค้นหาพนักงาน</div>
        <div class="row mb-3">
            <div class="col-12 col-md-6 col-sm-12">
                <div class="row mb-3">
                    <!-- <div class="col-md-11">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </div> -->
                    <div class="col-md-11">
                      <!-- <div class="sub-title">แผนก</div> -->
                      <select class="form-select" [(ngModel)]="selectedStatusCode">
                          <!-- <option value='NEW' disabled selected hidden>กรุณาเลือก แผนก</option> -->
                          <option *ngFor="let element of status" [value]="element.statusCode">{{element.statusNameEN}}</option>
                      </select>
                    </div>
                    <div class="col-md-1">
                        <button button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="updateMasterList()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="createDate">
                <th class="table-createdate" mat-header-cell *matHeaderCellDef> วันที่ </th>
                <td class="table-createdate" mat-cell *matCellDef="let element"> {{element.createDate | date:'MM/dd/yy'}} </td>
              </ng-container>

              <ng-container matColumnDef="empcode">
                <th class="table-empcode" mat-header-cell *matHeaderCellDef> รหัสพนักงาน </th>
                <td class="table-empcode" mat-cell *matCellDef="let element"> {{element.empCode}} </td>
              </ng-container>
          
              <ng-container matColumnDef="name">
                <th class="table-name" mat-header-cell *matHeaderCellDef> ชื่อ </th>
                <td class="table-name" mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              <ng-container matColumnDef="lastname">
                <th class="table-lastname" mat-header-cell *matHeaderCellDef> สกุล </th>
                <td class="table-lastname" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
              </ng-container>

              <ng-container matColumnDef="position">
                <th class="table-position" mat-header-cell *matHeaderCellDef> ตำแหน่งงาน </th>
                <td class="table-position" mat-cell *matCellDef="let element"> {{element.positionCode}} </td>
              </ng-container>

              <ng-container matColumnDef="department">
                <th class="table-department" mat-header-cell *matHeaderCellDef> แผนก </th>
                <td class="table-department" mat-cell *matCellDef="let element"> {{element.departmentCode}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th class="table-action" mat-header-cell *matHeaderCellDef> สถานะ </th>
                <td class="table-action" mat-cell *matCellDef="let element">
                  <div *ngIf="element.statusCode == 'NEW'" class="btn bg-green">
                    ใหม่
                  </div>
                  <div *ngIf="element.statusCode  == 'COMPLETE'" class="btn bg-dark-blue">
                    เสร็จสิ้น
                  </div>
                  <div *ngIf="element.statusCode  == 'CANCEL'" class="btn bg-red">
                    ยกเลิก
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="approve">
                <th class="table-action" mat-header-cell *matHeaderCellDef> อนุมัติ </th>
                <td class="table-action" mat-cell *matCellDef="let element">
                  <div *ngIf="element.statusCode == 'NEW'">
                    <button type="button" class="btn bg-green" (click)="approveDocument(element.passwordId)">
                      <mat-icon class="material-icons">check</mat-icon>
                    </button>  
                  </div>
                </td>
              </ng-container>
  
              <ng-container matColumnDef="delete">
                <th class="table-action" mat-header-cell *matHeaderCellDef align="center"> ไม่อนุมัติ </th>
                <td class="table-action" mat-cell *matCellDef="let element" align="center">
                  <div *ngIf="element.statusCode == 'NEW'">
                    <button type="button" class="btn bg-red" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="cancleId(element.passwordId)">
                      <mat-icon class="material-icons">close</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons
                            aria-label="Select page of periodic elements">
            </mat-paginator>

          </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ยืนยันการยกเลิกเอกสาร</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        หากท่านยกเลิกเอกสารแล้ว จะไม่สามารถกู้คืนข้อมูลได้อีก
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="canclePassword()">ยืนยัน</button>
      </div>
    </div>
  </div>
</div>