<div class="pt-2">
  <h1>การแจ้งเตือนขอเปลี่ยนรหัสผ่าน</h1>
</div>

<hr class="title-line">

<mat-tab-group>
  <mat-tab label="NEW">
    <div class="card">
        <div class="card-body p-4">
            <div class="title mb-3">เอกสาร ใหม่</div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="newDataSource">
                  <ng-container matColumnDef="createDate">
                    <th class="table-createdate" mat-header-cell *matHeaderCellDef> วันที่ </th>
                    <td class="table-createdate" mat-cell *matCellDef="let element"> {{element.createDate | date:'MM/dd/yy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="empcode">
                    <th class="table-empcode" mat-header-cell *matHeaderCellDef> รหัสพนักงาน </th>
                    <td class="table-empcode" mat-cell *matCellDef="let element"> {{element.empCode}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="name">
                    <th class="table-name" mat-header-cell *matHeaderCellDef> ชื่อ </th>
                    <td class="table-name" mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="lastname">
                    <th class="table-lastname" mat-header-cell *matHeaderCellDef> สกุล </th>
                    <td class="table-lastname" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="position">
                    <th class="table-position" mat-header-cell *matHeaderCellDef> ตำแหน่งงาน </th>
                    <td class="table-position" mat-cell *matCellDef="let element"> {{element.positionCode}} </td>
                  </ng-container>

                  <ng-container matColumnDef="department">
                    <th class="table-department" mat-header-cell *matHeaderCellDef> แผนก </th>
                    <td class="table-department" mat-cell *matCellDef="let element"> {{element.departmentCode}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th class="table-action" mat-header-cell *matHeaderCellDef> สถานะ </th>
                    <td class="table-action" mat-cell *matCellDef="let element">
                      <div *ngIf="element.statusCode == 'NEW'" class="btn bg-green">
                        ใหม่
                      </div>
                      <div *ngIf="element.statusCode  == 'COMPLETE'" class="btn bg-dark-blue">
                        เสร็จสิ้น
                      </div>
                      <div *ngIf="element.statusCode  == 'CANCEL'" class="btn bg-red">
                        ยกเลิก
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="approve">
                    <th class="table-action" mat-header-cell *matHeaderCellDef> อนุมัติ </th>
                    <td class="table-action" mat-cell *matCellDef="let element">
                      <div *ngIf="element.statusCode == 'NEW'">
                        <button type="button" class="btn bg-green" (click)="approveDocument(element.passwordId)">
                          <mat-icon class="material-icons">check</mat-icon>
                        </button>  
                      </div>
                    </td>
                  </ng-container>
      
                  <ng-container matColumnDef="delete">
                    <th class="table-action" mat-header-cell *matHeaderCellDef align="center"> ไม่อนุมัติ </th>
                    <td class="table-action" mat-cell *matCellDef="let element" align="center">
                      <div *ngIf="element.statusCode == 'NEW'">
                        <button type="button" class="btn bg-red" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="cancelId(element.passwordId)">
                          <mat-icon class="material-icons">close</mat-icon>
                        </button>
                      </div>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="newDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: newDisplayedColumns;"></tr>
                </table>

                <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]" 
                                [pageSize]="5" 
                                [pageIndex]="0" 
                                [length]="newDataSource.data.length">
                </mat-paginator>
              </div>
        </div>
    </div>
  </mat-tab>
  <mat-tab label="COMPLETE"> 
    <div class="card">
      <div class="card-body p-4">
          <div class="title mb-3">เอกสาร อนุมัติ</div>    
          <div class="mat-elevation-z8">
              <table mat-table [dataSource]="completeDataSource">
                <ng-container matColumnDef="createDate">
                  <th class="table2-createdate" mat-header-cell *matHeaderCellDef> วันที่ </th>
                  <td class="table2-createdate" mat-cell *matCellDef="let element"> {{element.createDate | date:'MM/dd/yy'}} </td>
                </ng-container>

                <ng-container matColumnDef="empcode">
                  <th class="table2-empcode" mat-header-cell *matHeaderCellDef> รหัสพนักงาน </th>
                  <td class="table2-empcode" mat-cell *matCellDef="let element"> {{element.empCode}} </td>
                </ng-container>
            
                <ng-container matColumnDef="name">
                  <th class="table2-name" mat-header-cell *matHeaderCellDef> ชื่อ </th>
                  <td class="table2-name" mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="lastname">
                  <th class="table2-lastname" mat-header-cell *matHeaderCellDef> สกุล </th>
                  <td class="table2-lastname" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="position">
                  <th class="table2-position" mat-header-cell *matHeaderCellDef> ตำแหน่งงาน </th>
                  <td class="table2-position" mat-cell *matCellDef="let element"> {{element.positionCode}} </td>
                </ng-container>

                <ng-container matColumnDef="department">
                  <th class="table2-department" mat-header-cell *matHeaderCellDef> แผนก </th>
                  <td class="table2-department" mat-cell *matCellDef="let element"> {{element.departmentCode}} </td>
                </ng-container>

                <ng-container matColumnDef="approveDate">
                  <th class="table2-approveDate" mat-header-cell *matHeaderCellDef> วันที่อนุมัติ </th>
                  <td class="table2-approveDate" mat-cell *matCellDef="let element"> {{element.approveDate | date:'MM/dd/yy'}} </td>
                </ng-container>
  
                <ng-container matColumnDef="approveBy">
                  <th class="table2-approveBy" mat-header-cell *matHeaderCellDef> อนุมัติโดย </th>
                  <td class="table2-approveBy" mat-cell *matCellDef="let element"> {{element.approveEmpCode}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th class="table2-action" mat-header-cell *matHeaderCellDef> สถานะ </th>
                  <td class="table2-action" mat-cell *matCellDef="let element">
                    <div *ngIf="element.statusCode == 'NEW'" class="btn bg-green">
                      ใหม่
                    </div>
                    <div *ngIf="element.statusCode  == 'COMPLETE'" class="btn bg-dark-blue">
                      เสร็จสิ้น
                    </div>
                    <div *ngIf="element.statusCode  == 'CANCEL'" class="btn bg-red">
                      ยกเลิก
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="completeDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: completeDisplayedColumns;"></tr>
              </table>
            
              <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" 
                              [pageSize]="5" 
                              [pageIndex]="0" 
                              [length]="completeDataSource.data.length">
              </mat-paginator>
            </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="CANCEL">
    <div class="card">
      <div class="card-body p-4">
          <div class="title mb-3">เอกสาร ยกเลิก</div>    
          <div class="mat-elevation-z8">
              <table mat-table [dataSource]="cancelDataSource">
                <ng-container matColumnDef="createDate">
                  <th class="table2-createdate" mat-header-cell *matHeaderCellDef> วันที่ </th>
                  <td class="table2-createdate" mat-cell *matCellDef="let element"> {{element.createDate | date:'MM/dd/yy'}} </td>
                </ng-container>

                <ng-container matColumnDef="empcode">
                  <th class="table2-empcode" mat-header-cell *matHeaderCellDef> รหัสพนักงาน </th>
                  <td class="table2-empcode" mat-cell *matCellDef="let element"> {{element.empCode}} </td>
                </ng-container>
            
                <ng-container matColumnDef="name">
                  <th class="table2-name" mat-header-cell *matHeaderCellDef> ชื่อ </th>
                  <td class="table2-name" mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="lastname">
                  <th class="table2-lastname" mat-header-cell *matHeaderCellDef> สกุล </th>
                  <td class="table2-lastname" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="position">
                  <th class="table2-position" mat-header-cell *matHeaderCellDef> ตำแหน่งงาน </th>
                  <td class="table2-position" mat-cell *matCellDef="let element"> {{element.positionCode}} </td>
                </ng-container>

                <ng-container matColumnDef="department">
                  <th class="table2-department" mat-header-cell *matHeaderCellDef> แผนก </th>
                  <td class="table2-department" mat-cell *matCellDef="let element"> {{element.departmentCode}} </td>
                </ng-container>

                <ng-container matColumnDef="approveDate">
                  <th class="table2-approveDate" mat-header-cell *matHeaderCellDef> วันที่อนุมัติ </th>
                  <td class="table2-approveDate" mat-cell *matCellDef="let element"> {{element.approveDate | date:'MM/dd/yy'}} </td>
                </ng-container>
  
                <ng-container matColumnDef="approveBy">
                  <th class="table2-approveBy" mat-header-cell *matHeaderCellDef> อนุมัติโดย </th>
                  <td class="table2-approveBy" mat-cell *matCellDef="let element"> {{element.approveEmpCode}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th class="table2-action" mat-header-cell *matHeaderCellDef> สถานะ </th>
                  <td class="table2-action" mat-cell *matCellDef="let element">
                    <div *ngIf="element.statusCode == 'NEW'" class="btn bg-green">
                      ใหม่
                    </div>
                    <div *ngIf="element.statusCode  == 'COMPLETE'" class="btn bg-dark-blue">
                      เสร็จสิ้น
                    </div>
                    <div *ngIf="element.statusCode  == 'CANCEL'" class="btn bg-red">
                      ยกเลิก
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="cancelDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: cancelDisplayedColumns;"></tr>
              </table>
            
              <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 20]" 
                              [pageSize]="5" 
                              [pageIndex]="0" 
                              [length]="cancelDataSource.data.length">
              </mat-paginator>
            </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ยืนยันการยกเลิกเอกสาร</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        หากท่านยกเลิกเอกสารแล้ว จะไม่สามารถกู้คืนข้อมูลได้อีก
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="cancelPassword()">ยืนยัน</button>
      </div>
    </div>
  </div>
</div>