table {
  width: 100%;
}

td, th {
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}
  
th{
  font-weight:bold;
}

.table-createdate{
  width:9%;
  text-align: center;
  justify-content:center;
}

.table-empcode{
  width:14%;
  text-align: center;
  justify-content:center;
}
  
.table-name{
  width:13%;
}

.table-lastname{
  width:13%;
}

.table-position{
  width:15%;
}

.table-department{
  width:15%;
}
  
.table-action{
  width:7%;
  text-align: center;
  justify-content:center;
}

.table2-createdate{
  width:10%;
  text-align: center;
  justify-content:center;
}

.table2-empcode{
  width:10%;
  text-align: center;
  justify-content:center;
}

.table2-name{
  width:13%;
}

.table2-lastname{
  width:13%;
}

.table2-position{
  width:13%;
}

.table2-department{
  width:13%;
}

.table2-approveDate{
  width:10%;
  text-align: center;
  justify-content:center;
}

.table2-approveBy{
  width:10%;
  text-align: center;
  justify-content:center;
}

.table2-action{
  width:8%;
  text-align: center;
  justify-content:center;
}