.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

td, th {
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}

th{
  font-weight:bold;
}

.table-id{
  width:14%;
  text-align: center;
  justify-content:center;
}

.table-name{
  width:13%;
}

.table-lastname{
  width:13%;
}

.table-position{
  width:13%;
}

.table-department{
  width:13%;
}

.table-profile{
  width:10%;
}

.table-action{
  width:8%;
  text-align: center;
  justify-content:center;
}